In [1]:
from e1_pipe import pipeline

In [2]:
df = pipeline(
        'cfg_init_vars.json',
        'cfg_data_contract.json',
        save=False
    )
df.head()

,cat1,timestamp,num1,num2,num3,num4,num5,num6,num7
0,1,2022-07-01,-0.028108,-1.252247e-01,-1.782633e-02,-0.142115,4.863945e-17,0.000000,-0.015895
1,2,2022-07-01,0.018927,-1.234638e-01,-1.781289e-02,-0.124046,-2.448495e-01,-0.484340,-0.015895
2,3,2022-10-01,0.018412,1.878843e-17,-1.782275e-02,-0.139451,-2.150410e-01,0.631104,-0.015895
3,4,2022-11-01,0.018927,-1.133930e-01,-1.782103e-02,-0.081089,-1.646300e-01,0.000000,-0.015895
4,5,2022-01-01,0.021718,1.878843e-17,-3.152080e-18,-0.145145,-2.931325e-01,0.021933,-0.015895